# Default ignored files
/shelf/
/*.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Олег\Documents\LearningJava\virtual-health\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/target/
